body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

* { box-sizing: border-box; }

h1, h2, h3 {
  color: #000;
  margin-top: 0;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

#app {
  position: relative;
}

.game {
  display: flex;
}

.side {
  flex: 1;
}

.on-deck { display: inline-block; }

.title {
  color: #b6b6b6;
  display: block;
}

.instructions b { font-size: 1.25em; }
.instructions br { margin: 0 4px; }

.board {
  flex: 2;
}

.board.paused:after {
  content: 'PAUSED';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffffd1;
  font-size: 2em;
}

.row {
  margin: 0;
  padding: 0;
  line-height: 1;
  display: flex;
  justify-content: center;
}

.board .row:nth-child(-n+2) { display: none; }

.cell {
  height: 28px;
  width: 28px;
  border: .5px dashed #dcdcdc;
}

.on-deck .cell:not(.piece) {
  border: none;
}

.cell.I { background-color: aqua; }
.cell.O { background-color: yellow; }
.cell.T { background-color: pink; }
.cell.S { background-color: green; }
.cell.Z { background-color: red; }
.cell.J { background-color: blue; }
.cell.L { background-color: orange; }
